body {
  background-color: #282c34;
}

.App {
  color: #cbced2;
  font-size: calc(10px + 2vmin);
  line-height: 1.6em;
  min-height: 100vh;
  padding: 4em;
}

.button {
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: none;
}

.button,
.button:hover,
.button:focus,
.button:active,
.button:disabled {
  color: inherit;
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
}

.button:disabled {
  cursor: default;
  pointer-events: none;
}
